*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div{
    width: 100%;
    background: url(cat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}