*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div1{
    background-color: lightblue;
    height: 50px;
    align-items: center;
    border: 1px solid black;
}
.div2{
    background-color: darkblue;
    height: 100px;
    border: 1px solid black;
}
.div3{
    background-color: white;
    border: 1px solid rgb(255, 0, 0);
    height: 300px;
}
.div31{
    width: 32%;
    height: 220px;
    border: 1px solid rgb(255, 0, 0);
    background-color: blue;
}
.div32{
    width: 32%;
    height: 220px;
    border: 1px solid rgb(255, 0, 0);
    background-color: blue;
    margin-left: 34%;
    margin-top: -220px;
}
.div33{
    width: 32%;
    height: 220px;
    border: 1px solid rgb(255, 0, 0);
    background-color: blue;
    margin-left: 68%;
    margin-top: -220px;
}
.div4{
    background-color: white;
    border: 1px solid rgb(255, 0, 0);
    height: 200px;
}
.div41{
    width: 32%;
    height: 120px;
    border: 1px solid rgb(255, 0, 0);
    background-color: blue;
}
.div42{
    width: 32%;
    height: 120px;
    border: 1px solid rgb(255, 0, 0);
    background-color: blue;
    margin-left: 34%;
    margin-top: -120px;
}
.div43{
    width: 32%;
    height: 120px;
    border: 1px solid rgb(255, 0, 0);
    background-color: blue;
    margin-left: 68%;
    margin-top: -120px;
}