*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 2000px;
}
.menu{
    position: fixed;
    width: 25%;
    height: 600px;
    color: white;
    float: left;
    padding: 20px;
    background: url(laminat1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
}
.menu ul a{
    color: #fff;
}

.content{
    float: right;
    width: 70%;
    height: auto;
    background-color: aquamarine;
}
.content_text{
    height: 400px;
    padding: 20px;
    margin: 20px 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.content_text p{
    position: sticky;
    top: 10px;
}